@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root{
    --bage: #f8f0df;
    --sea:#79B4B7;
    --offwhite:#FEFBF3;
    --brown:#9D9D9D;
    /* border: 1px solid black; */
}
