@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root{
    --bage: #f8f0df;
    --sea:#79B4B7;
    --offwhite:#FEFBF3;
    --brown:#9D9D9D;
    /* border: 1px solid black; */
}
 
#subscriptions{
    height: 90vh;
}


#subscriptions h3{
    background-color:var(--bage);
    font-size: x-large;
}
#options{

    list-style: none; 
    padding-left: 0px;
    text-align: center;
      
   
}
/*Making the list coming to the center*/

#options li{
    display: inline-block;
    margin: 50px 50px;
  
   
}
/* Making the list be in line or horizontal way*/

#options li a{
    height: 100px;
    text-decoration: none;
    color: rgb(17, 11, 11);
    font-size: 1.5rem;
    background: radial-gradient(white,rgb(89, 173, 212));
    border: 5px solid black;
    padding: 1.5rem;
    border-radius: 50%;

      
}

/*Making the text of the list be in white color with no underline as its links*/

#options li a:hover{
    color: rgb(211, 169, 202);
    text-decoration: none;
    transition: color 0.5s;
 
      
}

#Subscriptions{

    font-family: "Comfortaa";
    text-align: center;
    background-color: var(--bage);
}


#daily{
    height: 0;
    width: 0;
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition:all 1.5s ease-in-out;
}

#daily:target
{
    height: 30%;
    width: 30%;
    background-color: rgb(214, 232, 255);
    top: 25%;
    left: 25%;

}

#weekly{
    height: 0;
    width: 0;
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition:all 1s ease-in-out;
}

#weekly:target
{
    height: 30%;
    width: 30%;
    background-color: rgb(214, 232, 255);
    top: 25%;
    left: 25%;

}

#monthly{
    height: 0;
    width: 0;
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition:all 1.5s ease-in-out;
}

#monthly:target
{
    height: 30%;
    width: 30%;
    background-color: rgb(214, 232, 255);
    top: 25%;
    left: 25%;

}

#dhamaka-offer{
    height: 0;
    width: 0;
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition:all 1.5s ease-in-out;
}

#dhamaka-offer:target
{
    height: 30%;
    width: 30%;
    background-color: rgb(214, 232, 255);
    top: 25%;
    left: 25%;

}



.close {
  position: absolute;
  right: 3px;
  top: 5px;
  width: 15px;
  height:20px;
  border: 1px solid black;
  background-color: cornsilk;
}

.go-about{
    font-family: "Comfortaa";
    color:coral ;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-content:center;
    border: 2px solid black;
    border-radius: 40%;
    text-decoration: none;
    padding: 5px;
}

/*******************************************************************/

.adv-intro{
    font-family: "Comfortaa";
   
    background-color:rgb(126, 189, 226);
    text-align: center;
}